<ion-tabs [selectedIndex]="selectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Favoritos" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Buscar" tabIcon="search"></ion-tab>
  <ion-tab [show]="authenticationService.isOwner()" [root]="tab3Root" tabTitle="Mi Fonda" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mis Ordenes" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Perfil" tabIcon="contact"></ion-tab>
</ion-tabs>
