<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Ordena</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-fab middle right>
        <button ion-fab mini-normal>
          <ion-icon name='information-circle'></ion-icon>
        </button>
      </ion-fab>
      <ion-avatar item-start>
        <img [src]="restaurant.user.photo_url">
      </ion-avatar>
      <h2>{{restaurant.name}}</h2>
      <ion-row>
        <ion-col col-9>
          <p text-wrap>Atendida por: {{ restaurant.user.name }} {{ restaurant.user.last_name }} </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <div style="position: relative">
      <img [src]="restaurant.photo_url">
    </div>
  </ion-card>

  <hr>

  <!-- List for entries -->
  <ion-list *ngIf="restaurant.dayMenu.starters.length > 0">


    <ion-list-header>
      <ion-icon name="icon-food"></ion-icon>
      Entradas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.starters; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" (click)="showItemInfo(item);" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" (click)="showItemInfo(item);" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
              <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row *ngIf="!item.sold_out" float-right>
              <button *ngIf="!item.removeButtonStyle" (click)="removeItem(item);" color="danger" mini ion-fab><ion-icon name="remove"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="remove"></ion-icon></button>
              <button *ngIf="!item.addButtonStyle" (click)="addItem(item);" mini ion-fab><ion-icon name="add"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="add"></ion-icon></button>
            </ion-row>
            <ion-row *ngIf="item.sold_out" float-right>
              <h2 style="color:red;">Agotado</h2>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for entries -->


  <!-- List for middle dish -->
  <ion-list *ngIf="restaurant.dayMenu.midDish.length > 0">

    <ion-list-header>
      <ion-icon name="egg"></ion-icon>
      Intermedios
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.midDish; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" (click)="showItemInfo(item);" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" (click)="showItemInfo(item);" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
              <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row *ngIf="!item.sold_out" float-right>
              <button *ngIf="!item.removeButtonStyle" (click)="removeItem(item);" color="danger" mini ion-fab><ion-icon name="remove"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="remove"></ion-icon></button>
              <button *ngIf="!item.addButtonStyle" (click)="addItem(item);" mini ion-fab><ion-icon name="add"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="add"></ion-icon></button>
            </ion-row>
            <ion-row *ngIf="item.sold_out" float-right>
              <h2 style="color:red;">Agotado</h2>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for middle dish -->

  <!-- List for main dish -->
  <ion-list *ngIf="restaurant.dayMenu.mainDish.length > 0">

    <ion-list-header>
      <ion-icon name="restaurant"></ion-icon>
      Plato Fuerte
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.mainDish">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" (click)="showItemInfo(item);" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" (click)="showItemInfo(item);" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
              <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row *ngIf="!item.sold_out" float-right>
              <button *ngIf="!item.removeButtonStyle" (click)="removeItem(item);" color="danger" mini ion-fab><ion-icon name="remove"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="remove"></ion-icon></button>
              <button *ngIf="!item.addButtonStyle" (click)="addItem(item);" mini ion-fab><ion-icon name="add"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="add"></ion-icon></button>
            </ion-row>
            <ion-row *ngIf="item.sold_out" float-right>
              <h2 style="color:red;">Agotado</h2>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>

  <!-- End of list for main dish -->

  <!-- List for desserts -->
  <ion-list *ngIf="restaurant.dayMenu.desserts.length > 0">

    <ion-list-header>
      <ion-icon name="ice-cream"></ion-icon>
      Postres
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.desserts">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" (click)="showItemInfo(item);" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" (click)="showItemInfo(item);" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
              <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row *ngIf="!item.sold_out" float-right>
              <button *ngIf="!item.removeButtonStyle" (click)="removeItem(item);" color="danger" mini ion-fab><ion-icon name="remove"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="remove"></ion-icon></button>
              <button *ngIf="!item.addButtonStyle" (click)="addItem(item);" mini ion-fab><ion-icon name="add"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="add"></ion-icon></button>
            </ion-row>
            <ion-row *ngIf="item.sold_out" float-right>
              <h2 style="color:red;">Agotado</h2>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for desserts -->

  <!-- List for drinks -->
  <ion-list *ngIf="restaurant.dayMenu.drinks.length > 0">

    <ion-list-header>
      <ion-icon name="beer"></ion-icon>
      Bebidas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.drinks">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" (click)="showItemInfo(item);" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" (click)="showItemInfo(item);" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
              <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" (click)="showItemInfo(item);" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row *ngIf="!item.sold_out" float-right>
              <button *ngIf="!item.removeButtonStyle" (click)="removeItem(item);" color="danger" mini ion-fab><ion-icon name="remove"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="remove"></ion-icon></button>
              <button *ngIf="!item.addButtonStyle" (click)="addItem(item);" mini ion-fab><ion-icon name="add"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="add"></ion-icon></button>
            </ion-row>
            <ion-row *ngIf="item.sold_out" float-right>
              <h2 style="color:red;">Agotado</h2>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for drinks -->

</ion-content>

<ion-footer *ngIf="cart.total > 0">
  <ion-toolbar>
    <button (click)="order();" ion-button icon-end full>
      Total: {{ cart.total | currency:'MXN':true:'1.2-2' }} - Ver el carrito
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
