page-order {

  .fab[mini] {
    margin: 4px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .fab[mini-normal] {
    margin: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

}
