<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let restaurant of restaurants; let i = index;">

    <ion-item>
      <ion-fab middle right>
        <button (click)="goToOrder(restaurant);" ion-fab mini>
          <ion-icon name='list-box'></ion-icon>
        </button>
      </ion-fab>
      <ion-avatar item-start>
        <img [src]="restaurant.user.photo_url">
      </ion-avatar>
      <h2>{{restaurant.name}}</h2>
      <ion-row>
        <ion-col col-9>
          <p text-wrap>Atendida por: {{ restaurant.user.name }} {{ restaurant.user.last_name }} </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <div style="position: relative">
      <img [src]="restaurant.photo_url">
    </div>

    <ion-list>
      <ion-list-header *ngIf="restaurant.open" text-wrap>
        <ion-icon name="clipboard"></ion-icon>
        Menú Del Día
      </ion-list-header>
      <ion-list-header color="danger" *ngIf="!restaurant.open" text-wrap>
        <ion-icon name="close-circle"></ion-icon>
        Cerrado por el momento
      </ion-list-header>
    </ion-list>

    <div *ngIf="restaurant.open">
      <ion-item>
        <ion-icon style="font-size: 25px;" color="subtle" large item-start name='icon-food'></ion-icon>
        <h2>Entradas</h2>
        <p text-left class="text-as-paragraph" [innerHtml]="restaurant.dayMenu.starters | listToText"></p>
      </ion-item>
      <ion-item>
        <ion-icon color="subtle" large item-start name='egg'></ion-icon>
        <h2>Intermedios</h2>
        <p text-left class="text-as-paragraph" [innerHtml]="restaurant.dayMenu.midDish | listToText"></p>
      </ion-item>
      <ion-item>
        <ion-icon color="subtle" large item-start name='restaurant'></ion-icon>
        <h2>Plato Fuerte</h2>
        <p text-left class="text-as-paragraph" [innerHtml]="restaurant.dayMenu.mainDish | listToText"></p>
      </ion-item>
      <ion-item>
        <ion-icon color="subtle" large item-start name='ice-cream'></ion-icon>
        <h2>Postres</h2>
        <p text-left class="text-as-paragraph" [innerHtml]="restaurant.dayMenu.desserts | listToText"></p>
      </ion-item>
      <ion-item>
        <ion-icon color="subtle" large item-start name='beer'></ion-icon>
        <h2>Bebidas</h2>
        <p text-left class="text-as-paragraph" [innerHtml]="restaurant.dayMenu.drinks | listToText"></p>
      </ion-item>
    </div>

    <ion-row no-padding>
      <ion-col>
        <button (click)="deleteFavourite(restaurant, i);" color="danger" ion-button clear small icon-start>
          <ion-icon name='close'></ion-icon>
          Favorito
        </button>
      </ion-col>
      <ion-col *ngIf="restaurant.open" col-4 text-center>
        <button (click)="goToOrder(restaurant);" ion-button clear small icon-start>
          <ion-icon name='list-box'></ion-icon>
          Ordenar
        </button>
      </ion-col>
      <ion-col *ngIf="!restaurant.open" col-4 text-center>
        <button color="danger" ion-button clear small icon-start>
          <ion-icon name='list-box'></ion-icon>
          Ordenar
        </button>
      </ion-col>
      <ion-col col-4 text-right>
        <button ion-button clear small color="primary" clear item-end icon-start>
          <ion-icon name='navigate'></ion-icon>
          Ruta
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


 <!-- Real floating action button, fixed. It will not scroll with the content -->
</ion-content>
