<!--
  Generated template for the ProductInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ product.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-card>
    <img *ngIf="product.photo_url" class="img-filtered" [src]="product.photo_url"/>
    <img *ngIf="!product.photo_url" class="img-filtered" src="assets/images/food.jpg"/>
    <div text-wrap class="card-title purple">{{ product.name }}</div>
  </ion-card>

  <ion-list>

    <ion-list-header>
      <ion-icon name="ion-edit"></ion-icon>
      Descripción
    </ion-list-header>

    <ion-row>

      <ion-col>
        <ion-item>
          <ion-row float-left>
            <p>{{ product.description }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <button (click)="dismissModal()" ion-button block icon-start>
          <ion-icon name="arrow-dropleft"></ion-icon>
          Regresar a ordenar
        </button>
      </ion-col>

    </ion-row>

  </ion-list>

</ion-content>
