<!--
  Generated template for the PurchaseConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Confirmación de compra</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-card>
    <img class="img-filtered" [src]="restaurant.photo_url"/>
    <div class="card-title purple">{{ restaurant.name }}</div>
  </ion-card>

  <!-- List for entries -->
  <ion-list *ngIf="order.starters.length > 0">


    <ion-list-header>
      <ion-icon name="icon-food"></ion-icon>
      Entradas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of order.starters; let i = index;">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for entries -->


  <!-- List for middle dish -->
  <ion-list *ngIf="order.midDish.length > 0">

    <ion-list-header>
      <ion-icon name="egg"></ion-icon>
      Intermedios
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of order.midDish; let i = index;">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for middle dish -->

  <!-- List for main dish -->
  <ion-list *ngIf="order.mainDish.length > 0">

    <ion-list-header>
      <ion-icon name="restaurant"></ion-icon>
      Plato Fuerte
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of order.mainDish">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>

  <!-- End of list for main dish -->

  <!-- List for desserts -->
  <ion-list *ngIf="order.desserts.length > 0">

    <ion-list-header>
      <ion-icon name="ice-cream"></ion-icon>
      Postres
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of order.desserts">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for desserts -->

  <!-- List for drinks -->
  <ion-list *ngIf="order.drinks.length > 0">

    <ion-list-header>
      <ion-icon name="beer"></ion-icon>
      Bebidas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of order.drinks">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for drinks -->

  <ion-list>

    <ion-list-header>
      <ion-icon name="cash"></ion-icon>
      Total
    </ion-list-header>

    <ion-row>

      <ion-col>
        <ion-item>
          <h2>Total: </h2>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-row float-right>
            <p>{{ order.total | currency:'MXN':true:'1.2-2' }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-item>
          <h2>#Transacción: </h2>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-row float-right>
            <p>{{ order.paypalId }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-item>
          <h2>Tu hora de llegada a la fonda: </h2>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-row float-right>
            <p>{{ order.hourOfArrive | date:'shortTime' }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-icon name=""></ion-icon>
    </ion-list-header>

    <button (click)="goToTabs()" ion-button block icon-start>
      <ion-icon name="checkmark-circle"></ion-icon>
      Ir al menú priciapl
    </button>

  </ion-list>

</ion-content>
