page-administration-dashboard {
  [cards] {
    .grid-full ion-col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 5px 0;
    }
    .row {
      padding: 0 12px;
    }
    .col {
      padding: 5px 0;
    }
    .card {
      margin: 0 5px;
      width: calc(100% - 10px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 4px;
      h1 {
        font-weight: 400;
        font-size: 18px;
        font-size: 1.5rem;
      }
    }
    .icon-size {
      font-size: 90px;
    }
  }
}
