<!--
  Generated template for the AdministrationDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Administración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div cards>

    <div class="grid-full">
      <ion-row>

        <ion-col>
          <ion-card (click)="goToMyProductsPage();" text-center>
            <ion-icon color="purple" class="icon-size" name="restaurant"></ion-icon>
            <h1>Mis Platillos</h1>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card (click)="goToDayMenuPage();" text-center>
            <ion-icon color="purple" class="icon-size" name="list"></ion-icon>
            <h1>Menú Del Día</h1>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card text-center>
            <ion-icon color="purple" class="icon-size" name="cart"></ion-icon>
            <h1>Pedidos</h1>
          </ion-card>
        </ion-col>

        <ion-col *ngIf="!restaurant.open">
          <ion-card (click)="myRestaurantOpenClose();" text-center>
            <ion-icon color="success" class="icon-size" name="power"></ion-icon>
            <h1>Abrir Fondita</h1>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="restaurant.open">
          <ion-card (click)="myRestaurantOpenClose();" text-center>
            <ion-icon color="danger" class="icon-size" name="power"></ion-icon>
            <h1>Cerrar Fondita</h1>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card text-center>
            <ion-icon color="purple" class="icon-size" name="create"></ion-icon>
            <h1>Editar Información De Mi Negocio</h1>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>

  </div>
</ion-content>
