.ios,.md{
  page-registration {

    .scroll-content {
      background-color: #9600ff;
      display: flex;
      flex-direction: column;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
        border-radius: 30px !important;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #f6f6f6;
        opacity: 0.7;
        font-size: 0.9em;
    }

    ion-list {
        margin: 0;
    }

    .login-logo {
      flex: 2;
    }

    .login-form {
        flex: 1;
    }

    .create-account {
      color: #fff;
      text-decoration: underline;
      background: none;
    }

    .login-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        background-color: transparent;
        border: 1px solid #fff;
    }
  }
}
