<ion-content padding>

  <ion-row class="login-logo">
    <ion-col><img src="assets/fonditas-logo.png" /></ion-col>
  </ion-row>

  <ion-row *ngIf="showContent" class="login-form">
    <ion-col>
      <ion-list>

        <ion-item>
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <ion-input [(ngModel)]="email" placeholder="correo electrónico" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
        </ion-item>

      </ion-list>

      <button ion-button (click)="login()" primary class="login-button">Iniciar Sesión</button>

    </ion-col>
  </ion-row>
  <ion-row *ngIf="showContent">
      <ion-col col-12>
        <button (click)="goToSignUp()" class="create-account">Registrarse</button>
      </ion-col>
      <ion-col col-12>
        <button (click)="goToSignUpWithRestaurant()" class="create-account">Registrarse Como Vendedor</button>
      </ion-col>
  </ion-row>

</ion-content>
