<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Cerrar Sesión</ion-list-header>
    <ion-item>
      <button (click)="logout()" ion-button color="danger">Cerrar sesión</button>
    </ion-item>
  </ion-list>
</ion-content>
