.ios, .md {

  page-sign-up {


    .scroll-content {
      background-color: #9600ff;
      display: flex;
      flex-direction: column;
    }

    .thumbnail-circular {
      height: 100px;
      width: 100px;
      border: 2px solid #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 5px gray;
      box-shadow: 0 0 5px gray;
      margin-left: auto;
      margin-right: auto;
    }


    .texto{
      border-radius: 30px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #f6f6f6;
      opacity: 0.7;
      font-size: 0.9em;
    }

    ion-list {
      margin: 0;
    }

    .heading-text {
      flex: 1;
      align-items: center;
      text-align: center;
    }

    .heading-text h3 {
      color: #fff;
    }


    .account-form {
      flex: 0;
    }

    .continue-button {
      width: 100%;
      border-radius: 30px;
      margin-top: 30px;
      font-size: 0.9em;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }

}
