<ion-header>

  <ion-navbar color="purple">
    <ion-title>Regístrate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row class="account-form">
    <ion-col col-12 text-center>
      <img (click)="changePhoto();" [src]="user.photo_dummy" class="thumbnail-circular">
    </ion-col>
    <ion-col col-12>
      <ion-list inset>
        <ion-item class="texto">
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.name" placeholder="Nombre" type="text"></ion-input>
        </ion-item>

        <ion-item class="texto">
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.last_name" placeholder="Apellido" type="text"></ion-input>
        </ion-item>

        <ion-item class="texto">
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.email" placeholder="Correo electrónico" type="text" autocapitalize="none"></ion-input>
        </ion-item>

        <ion-item class="texto">
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.password" placeholder="Password" type="password"></ion-input>
        </ion-item>

        <ion-item class="texto">
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="passwordConfirmation" placeholder="Confirmación de password" type="password"></ion-input>
        </ion-item>
      </ion-list>

      <button *ngIf="asCostumer" ion-button (click)="register()" class="continue-button">Registrarse</button>
      <button *ngIf="!asCostumer" ion-button (click)="next()" class="continue-button">Siguiente</button>

    </ion-col>
  </ion-row>

</ion-content>
