<!--
  Generated template for the MyProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mis Productos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <!-- List for entries -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="icon-food"></ion-icon>
      Entradas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.starters; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/profile-placeholder.png">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row float-right>
              <button (click)="editProduct(item, i);" *ngIf="!item.addButtonStyle" mini ion-fab><ion-icon name="create"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="create"></ion-icon></button>
              <button *ngIf="!item.removeButtonStyle" (click)="deleteProduct(item, i);" color="danger" mini ion-fab><ion-icon name="close"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="close"></ion-icon></button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for entries -->

  <!-- List for middle dish  -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="egg"></ion-icon>
      Intermedios
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.midDish; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/profile-placeholder.png">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row float-right>
              <button (click)="editProduct(item, i);" *ngIf="!item.addButtonStyle" mini ion-fab><ion-icon name="create"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="create"></ion-icon></button>
              <button *ngIf="!item.removeButtonStyle" (click)="deleteProduct(item, i);" color="danger" mini ion-fab><ion-icon name="close"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="close"></ion-icon></button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for middle dish -->

  <!-- List for main dish  -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="restaurant"></ion-icon>
      Plato Fuerte
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.mainDish; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/profile-placeholder.png">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row float-right>
              <button (click)="editProduct(item, i);" *ngIf="!item.addButtonStyle" mini ion-fab><ion-icon name="create"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="create"></ion-icon></button>
              <button *ngIf="!item.removeButtonStyle" (click)="deleteProduct(item, i);" color="danger" mini ion-fab><ion-icon name="close"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="close"></ion-icon></button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for main dish -->

  <!-- List for desserts -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="ice-cream"></ion-icon>
      Postres
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.desserts; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/profile-placeholder.png">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row float-right>
              <button (click)="editProduct(item, i);" *ngIf="!item.addButtonStyle" mini ion-fab><ion-icon name="create"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="create"></ion-icon></button>
              <button *ngIf="!item.removeButtonStyle" (click)="deleteProduct(item, i);" color="danger" mini ion-fab><ion-icon name="close"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="close"></ion-icon></button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for desserts -->

  <!-- List for drinks -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="beer"></ion-icon>
      Bebidas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of restaurant.dayMenu.drinks; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/profile-placeholder.png">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-row float-right>
              <button (click)="editProduct(item, i);" *ngIf="!item.addButtonStyle" mini ion-fab><ion-icon name="create"></ion-icon></button>
              <button *ngIf="item.addButtonStyle" color="light" mini ion-fab><ion-icon color="primary" name="create"></ion-icon></button>
              <button *ngIf="!item.removeButtonStyle" (click)="deleteProduct(item, i);" color="danger" mini ion-fab><ion-icon name="close"></ion-icon></button>
              <button *ngIf="item.removeButtonStyle" color="light" mini ion-fab><ion-icon color="danger" name="close"></ion-icon></button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for drinks -->

  <ion-fab (click)="goToCreateProductPage();" right bottom>
    <button ion-fab color="success"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>


<ion-footer *ngIf="deletedProduct">
  <ion-toolbar>
    <button color="danger" ion-button icon-end full>
      Producto eliminado
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
