// icomoon
@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon/icomoon.eot?3e91zf');
  src: url('../assets/fonts/icomoon/icomoon.eot?3e91zf#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon/icomoon.ttf?3e91zf') format('truetype'),
  url('../assets/fonts/icomoon/icomoon.woff?3e91zf') format('woff'),
  url('../assets/fonts/icomoon/icomoon.svg?3e91zf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin makeIcon($arg, $val) {
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-circle:before ,
    .ion-ios-#{$arg}-circle-outline:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-circle:before ,
    .ion-md-#{$arg}-circle-outline:before ,
    .ion-md-#{$arg}-outline:before  {
        font-family: "icomoon" !important;
        content: $val;
    }
}

// Add such entries for each icon:
@include makeIcon(icon-food, '\e900');
@include makeIcon(icon-paypal-text, '\e901');
@include makeIcon(icon-paypal-logo, '\ead8');
