<!--
  Generated template for the DayMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menú del Día</ion-title>
  </ion-navbar>

  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button *ngIf="showingProducts" ion-button full icon-start>
          Tus Productos
        </button>
        <button (click)="switchData();" *ngIf="!showingProducts" clear ion-button full icon-start>
          Tus Productos
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button *ngIf="!showingProducts" ion-button full color="primary" icon-start>
          Menú del Día
        </button>
        <button (click)="switchData();" *ngIf="showingProducts" ion-button full color="primary" clear icon-start>
          Menú del Día
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <!-- List for entries -->
  <ion-list>


    <ion-list-header>
      <ion-icon name="icon-food"></ion-icon>
      Entradas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of showData.starters; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12 float-right *ngIf="!open">
          <ion-item float-right>
            <ion-row *ngIf="!item.active" float-right>
              <button round small (click)="addProductToDayMenu(item, i);" color="success" ion-button icon-end>
                Publicar en el menú del día
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-row>
            <ion-row *ngIf="item.active" float-right>
              <button round small (click)="removeProductFromDayMenu(item, i);" color="danger" ion-button icon-end>
                Remover del menu del día
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

        <ion-col col-12  *ngIf="open && !item.sold_out && item.active">
          <ion-item>
            <ion-row *ngIf="item.active" float-right>
              <button *ngIf="!item.sold_out" round small (click)="markAsSoldOut(item, i);" color="danger" ion-button icon-end>
                Marcar como agotado
              <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for entries -->


  <!-- List for midDish -->
  <ion-list>


    <ion-list-header>
      <ion-icon name="egg"></ion-icon>
      Intermedios
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of showData.midDish; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12 float-right *ngIf="!open">
          <ion-item float-right>
            <ion-row *ngIf="!item.active" float-right>
              <button round small (click)="addProductToDayMenu(item, i);" color="success" ion-button icon-end>
                Publicar en el menú del día
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-row>
            <ion-row *ngIf="item.active" float-right>
              <button round small (click)="removeProductFromDayMenu(item, i);" color="danger" ion-button icon-end>
                Remover del menu del día
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

        <ion-col col-12  *ngIf="open && !item.sold_out && item.active">
          <ion-item>
            <ion-row *ngIf="item.active" float-right>
              <button *ngIf="!item.sold_out" round small (click)="markAsSoldOut(item, i);" color="danger" ion-button icon-end>
                Marcar como agotado
              <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for middish -->


  <!-- List for mainDish -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="restaurant"></ion-icon>
      Plato Fuerte
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of showData.mainDish; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12 float-right *ngIf="!open">
          <ion-item float-right>
            <ion-row *ngIf="!item.active" float-right>
              <button round small (click)="addProductToDayMenu(item, i);" color="success" ion-button icon-end>
                Publicar en el menú del día
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-row>
            <ion-row *ngIf="item.active" float-right>
              <button round small (click)="removeProductFromDayMenu(item, i);" color="danger" ion-button icon-end>
                Remover del menu del día
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

        <ion-col col-12  *ngIf="open && !item.sold_out && item.active">
          <ion-item>
            <ion-row *ngIf="item.active" float-right>
              <button *ngIf="!item.sold_out" round small (click)="markAsSoldOut(item, i);" color="danger" ion-button icon-end>
                Marcar como agotado
              <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for mainDish -->


  <!-- List for desserts -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="ice-cream"></ion-icon>
      Postres
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of showData.desserts; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12 float-right *ngIf="!open">
          <ion-item float-right>
            <ion-row *ngIf="!item.active" float-right>
              <button round small (click)="addProductToDayMenu(item, i);" color="success" ion-button icon-end>
                Publicar en el menú del día
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-row>
            <ion-row *ngIf="item.active" float-right>
              <button round small (click)="removeProductFromDayMenu(item, i);" color="danger" ion-button icon-end>
                Remover del menu del día
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

        <ion-col col-12  *ngIf="open && !item.sold_out && item.active">
          <ion-item>
            <ion-row *ngIf="item.active" float-right>
              <button *ngIf="!item.sold_out" round small (click)="markAsSoldOut(item, i);" color="danger" ion-button icon-end>
                Marcar como agotado
              <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for desserts -->


  <!-- List for drinks -->
  <ion-list>

    <ion-list-header>
      <ion-icon name="beer"></ion-icon>
      Bebidas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of showData.drinks; let i = index;">

        <ion-col col-12>
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!item.photo_url" src="assets/images/food.jpg">
              <img *ngIf="item.photo_url" [src]="item.photo_url">
            </ion-avatar>
            <div *ngIf="!item.sold_out">
              <h2 text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
              <p>{{ item.price | currency:'MXN':true:'1.2-2' }}</p>
            </div>
            <div *ngIf="item.sold_out">
              <h2 style="color:red;" text-wrap icon-right>{{ item.name }}<ion-icon class="icon-custom-size" name="information-circle"></ion-icon></h2>
            </div>
          </ion-item>
        </ion-col>

        <ion-col col-12 float-right *ngIf="!open">
          <ion-item float-right>
            <ion-row *ngIf="!item.active" float-right>
              <button round small (click)="addProductToDayMenu(item, i);" color="success" ion-button icon-end>
                Publicar en el menú del día
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-row>
            <ion-row *ngIf="item.active" float-right>
              <button round small (click)="removeProductFromDayMenu(item, i);" color="danger" ion-button icon-end>
                Remover del menu del día
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

        <ion-col col-12  *ngIf="open && !item.sold_out && item.active">
          <ion-item>
            <ion-row *ngIf="item.active" float-right>
              <button *ngIf="!item.sold_out" round small (click)="markAsSoldOut(item, i);" color="danger" ion-button icon-end>
                Marcar como agotado
              <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for drinks -->

  <button (click)="confirmChanges();" ion-button icon-start block color="success">
    <ion-icon name="add-circle"></ion-icon>
    Confirmar Cambios
  </button>


</ion-content>


<ion-footer *ngIf="showAddedAdvice">
  <ion-toolbar>
    <button color="success" ion-button icon-end full>
      Producto añadido al menú del día
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="showRemovedAdvice">
  <ion-toolbar>
    <button color="danger" ion-button icon-end full>
      Producto removido del menú del día
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
