.ios, .md {

  page-restaurant-registration {


    .scroll-content {
      background-color: #9600ff;
      display: flex;
      flex-direction: column;
    }

    .thumbnail-circular {
      height: 100px;
      width: 100px;
      border: 2px solid #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 5px gray;
      box-shadow: 0 0 5px gray;
      margin-left: auto;
      margin-right: auto;
    }


    .texto{
      border-radius: 30px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #f6f6f6;
      opacity: 0.7;
      font-size: 0.9em;
    }

    ion-list {
      margin: 0;
    }

    .heading-text {
      flex: 1;
      align-items: center;
      text-align: center;
    }

    .heading-text h3 {
      color: #fff;
    }


    .account-form {
      flex: 0;
    }

    .continue-button {
      width: 100%;
      border-radius: 30px;
      margin-top: 30px;
      font-size: 0.9em;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .img-filtered {
      margin-left: auto;
      margin-right: auto;
      filter: grayscale(70%) contrast(30%);
    }

  }

  .text-area-height {
    height: 60px;
  }

}
