<ion-header>

  <ion-navbar color="purple">
    <ion-title>Registra tu fonda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-card (click)="changePhoto();">
    <img class="img-filtered" [src]="restaurant.photo_dummy"/>
    <div *ngIf="!imageText();" text-wrap class="card-title">Pulsa para añadir la foto de tu fonda</div>
    <div *ngIf="imageText();" text-wrap class="card-title">{{ restaurant.name }}</div>
  </ion-card>

  <ion-row class="account-form">

    <ion-col col-12>

      <ion-list inset>

        <ion-item class="texto">
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="restaurant.name" placeholder="Nombre" type="text"></ion-input>
        </ion-item>

        <ion-item class="texto">
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-textarea class="text-area-height" elastic [(ngModel)]="restaurant.description" placeholder="Apellido" type="text" placeholder="Enter a description"></ion-textarea>
        </ion-item>

        <button class="continue-button" style="margin-bottom: 10px;" ion-item (click)="showSelectLocationModal();">
          <span text-center style="color: #fff;">Seleccionar Ubicación</span>
        </button>
        <ion-item class="texto">
          <ion-textarea tappable class="text-area-height" readonly="true" autocomplete="off" autocorrect="off" [ngModel]="locationService.getLocalizationObject().address" elastic placeholder="Ubicación" type="text"></ion-textarea>
        </ion-item>

      </ion-list>

      <button (click)="register();" ion-button class="continue-button">Registrarse</button>

    </ion-col>
  </ion-row>

</ion-content>
