<!--
  Generated template for the CreateProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button (click)="closeModal();" ion-button icon-only>
        <ion-icon color="danger" name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Agrega Un Producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-card (click)="changePhoto();">
    <img class="img-filtered" [src]="product.photo_dummy"/>
    <div *ngIf="!imageText();" text-wrap class="card-title">Pulsa para añadir la foto de tu producto</div>
    <div *ngIf="imageText();" text-wrap class="card-title">{{ product.name }}</div>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>Nombre: </ion-label>
      <ion-input [(ngModel)]="product.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Descripción: </ion-label>
      <ion-textarea [(ngModel)]="product.description" class="text-area-height"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Categoria: </ion-label>
      <ion-select [(ngModel)]="product.category">
        <ion-option value="Entradas">Entradas</ion-option>
        <ion-option value="Intermedios">Intermedios</ion-option>
        <ion-option value="Plato Fuerte">Plato Fuerte</ion-option>
        <ion-option value="Postres">Postres</ion-option>
        <ion-option value="Bebidas">Bebidas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!product.price" color="primary" floating>Precio:</ion-label>
      <ion-label *ngIf="product.price" color="primary" floating>Precio: {{ product.price | currency:'MXN':true:'1.2-2' }}</ion-label>
      <ion-input [(ngModel)]="product.price" type="number"></ion-input>
    </ion-item>

  </ion-list>

  <button (click)="createProduct();" ion-button icon-start block color="success">
    <ion-icon name="add-circle"></ion-icon>
    Agregar Producto
  </button>


</ion-content>
