<!--
  Generated template for the SelectLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Úbica tu negocio</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar id="autocomplete" type="text"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <agm-map [streetViewControl]="false" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom" (mapClick)="addMarker($event)">
    <agm-marker iconUrl="assets/images/store.png" [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
  </agm-map>

</ion-content>

<ion-footer *ngIf="!firstLoad">
  <ion-toolbar>
    <button (click)="confirmLocation()" ion-button icon-end full>
      Confirmar Ubicación
      <ion-icon name="compass"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
