<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tus Ordenes</ion-title>
  </ion-navbar>

  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button *ngIf="showingPastOrders" ion-button full icon-start>
          Anteriores: {{ pastOrders.length }}
        </button>
        <button (click)="switchShowedOrders();" *ngIf="!showingPastOrders" clear ion-button full icon-start>
          Anteriores: {{ pastOrders.length }}
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button *ngIf="!showingPastOrders" ion-button full color="primary" icon-start>
          Próximas: {{ comingOrders.length }}
        </button>
        <button (click)="switchShowedOrders();" *ngIf="showingPastOrders" ion-button full color="primary" clear icon-start>
          Próximas: {{ comingOrders.length }}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div *ngIf="orders.length > 0">
      <ion-card *ngFor="let order of orders">

        <ion-item>
          <ion-avatar item-start>
            <img [src]="order.restaurant.photo_url">
          </ion-avatar>
          <h2>{{ order.restaurant.name }}</h2>
        </ion-item>

        <ion-list>
          <ion-list-header text-wrap>
            <ion-icon name="list"></ion-icon>
            Tu pedido del día: {{ order.created_at }}
          </ion-list-header>
        </ion-list>

        <ion-row>

          <ion-col>
            <ion-item>
              <h6>Número de pedido: </h6>
              <p>#{{ order.id }}</p>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item>
              <h6>Número de transacción de paypal: </h6>
              <p>{{ order.paypal_id }}</p>
            </ion-item>
          </ion-col>


        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item>
              <h6>Total: </h6>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-row float-right>
                <p>{{ order.total | currency:'MXN':true:'1.2-2' }}</p>
              </ion-row>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row *ngIf="showingPastOrders" no-padding>
          <ion-col col-6>
            <button (click)="showDetails(order);" ion-button clear small color="primary" icon-start>
              <ion-icon name='list'></ion-icon>
              Detalles
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button clear small color="primary" icon-start>
              <ion-icon name='trophy'></ion-icon>
              Calificar
            </button>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding *ngIf="showingPastOrders">
          <ion-col text-center col-12>
            <button ion-button outline block small color="primary" icon-start>
              <ion-icon name='create'></ion-icon>
              Volver A Ordenar
            </button>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="!showingPastOrders">

          <ion-col>
            <ion-item>
              <h6>Tu hora esperada de llegada: </h6>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-row float-right>
                <p>{{ order.hour_of_arrive }}</p>
              </ion-row>
            </ion-item>
          </ion-col>

      </ion-row>
      <hr>

      <ion-row no-padding *ngIf="!showingPastOrders">
        <ion-col text-center col-12>
          <button (click)="showDetails(order);" ion-button outline block small color="primary" icon-start>
            <ion-icon name='list'></ion-icon>
            Ver Detalles
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <div *ngIf="orders.length == 0">
    <ion-card *ngIf="finishLoading">
      <ion-card-header text-wrap>
        Por El Momento No Tienes Ninguna Orden
      </ion-card-header>
      <ion-card-content>
        Te invitamos a realizar un pedido en tu fonda más cercana.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
