<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Orden #{{ order.id }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-card>
    <img class="img-filtered" [src]="order.restaurant.photo_url"/>
    <div text-wrap class="card-title purple">{{ order.restaurant.name }}</div>
  </ion-card>

  <!-- List for entries -->
  <ion-list *ngIf="starters.length > 0">


    <ion-list-header>
      <ion-icon name="icon-food"></ion-icon>
      Entradas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of starters; let i = index;">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.product.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.product.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for entries -->


  <!-- List for middle dish -->
  <ion-list *ngIf="midDish.length > 0">

    <ion-list-header>
      <ion-icon name="egg"></ion-icon>
      Intermedios
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of midDish; let i = index;">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.product.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.product.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for middle dish -->

  <!-- List for main dish -->
  <ion-list *ngIf="mainDish.length > 0">

    <ion-list-header>
      <ion-icon name="restaurant"></ion-icon>
      Plato Fuerte
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of mainDish">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.product.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.product.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>

  <!-- End of list for main dish -->

  <!-- List for desserts -->
  <ion-list *ngIf="desserts.length > 0">

    <ion-list-header>
      <ion-icon name="ice-cream"></ion-icon>
      Postres
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of desserts">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.product.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.product.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for desserts -->

  <!-- List for drinks -->
  <ion-list *ngIf="drinks.length > 0">

    <ion-list-header>
      <ion-icon name="beer"></ion-icon>
      Bebidas
    </ion-list-header>

    <ion-card>

      <ion-row *ngFor="let item of drinks">

        <ion-col>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/profile-placeholder.png">
            </ion-avatar>
            <h2>{{ item.product.name }}</h2>
            <p *ngIf="item.quantity == 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }}</p>
            <p *ngIf="item.quantity > 0">{{ item.product.price | currency:'MXN':true:'1.2-2' }} x {{ item.quantity }}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-row float-right>
              <p>{{ item.product.price * item.quantity | currency:'MXN':true:'1.2-2' }}</p>
            </ion-row>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-list>
  <!-- End of list for drinks -->

  <ion-list>

    <ion-list-header>
      <ion-icon name="icon-paypal-logo"></ion-icon>
      Confirmación de Paypal
    </ion-list-header>

    <ion-row>

      <ion-col>
        <ion-item>
          <h2>#Transacción: </h2>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-row float-right>
            <p>{{ order.paypal_id }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-icon name="cash"></ion-icon>
      Total
    </ion-list-header>

    <ion-row>

      <ion-col>
        <ion-item>
          <h2>Total: </h2>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-row float-right>
            <p>{{ order.total | currency:'MXN':true:'1.2-2' }}</p>
          </ion-row>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

</ion-content>
